*.tgz
.circleci/
.eslintignore
.eslintrc.cjs
.github/
.gitignore
.husky
.idea
.jsdoc.json
.mocha-multi.json
.npmignore
.nycrc.json
.releaserc.cjs
.renovaterc.json
coverage
junit
node_modules/
test
test-results.xml
